<h2 style="text-align: center;padding-bottom:15px;">
    Weather Meter
</h2>

<h4 style="background: #5d5dcc;color: white;padding-left: 5px; padding-bottom: 4px;padding-top: 4px;">
    Real Time Reading

  <div [hidden] = "weatherMeter.connectionStatus!=1"
       style="float: right;">Connecting...
  </div>

  <md-progress-circle mode="indeterminate"
                      [hidden] = "weatherMeter.connectionStatus!=1"
                      style="float: right;margin-right: 5px;width: 25px;height: 20px;">
  </md-progress-circle>

  <button (click)="onConnect($event)"
          [hidden]="weatherMeter.connectionStatus!=0"
          color="primary" style="float: right;margin-right: 10px;">Connect</button>
</h4>

<div class="container" style="padding-top:5px;">
    <div class="row">
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
            <div class="card">
                <div>Speed /MPH</div>
                <div><h5 style="font-size: 30px;">{{speed}}</h5></div>
            </div>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
            <div class="card">
                <div>RPM</div>
                <div><h5 style="font-size: 30px;">{{rpm}}</h5></div>
            </div>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
            <div class="card">
                <div>Direction /True North</div>
                <div><h5 style="font-size: 30px;">{{direction}}</h5></div>
            </div>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
            <div class="card">
                <div>Temperature / <sup>o</sup>C</div>
                <div><h5 style="font-size: 30px;">{{temperature}}</h5></div>
            </div>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
            <div class="card">
                <div>Pressure /InHG</div>
                <div><h5 style="font-size: 30px;">{{pressure}}</h5></div>
            </div>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
            <div class="card">
                <div>Humidity /%</div>
                <div><h5 style="font-size: 30px;">{{humidity}}</h5></div>
            </div>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
            <div class="card">
                <div>Magnetometer</div>
                <div>{{magnetometer}}</div>
            </div>
        </div>
    </div>
</div>
